<div ng-if="!berriesLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>
<div ng-if="berriesLoaded">
	<div class="list-group-item" ng-repeat="singleBerry in berries">
		<h4>{{singleBerry.name | uppercase }}</h4>
	</div>
</div>	
